.botones {
    display: flex;
    justify-content: space-around;
    a {
        text-decoration: none;
        color: #500d76;
        background-color: white;
        font-size: large;
        border: 2px inset white;
        margin-top: 15px;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 20px;
        &:hover {
            background-color: #500d76;
            color: white;
        }
    }
}
.aboutUs {
    h2 {
        color: white;
        text-align: center
    }
    p {
        color: white;
        text-align: center;
    }
}
.product {
    h2 {
        color: white;
        text-align: center;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        // grid-auto-rows: minmax(100px, auto);
        // align-items: center;
        // justify-content: center;
        .especialidad {
            text-align: center;
            color: white;
            border: 2px white solid;
            // width: 300px;
            // height: 350px;
            margin: 15px;
            img {
                width: 100%;
                // height: 70%;
                padding: 10px;
                border-radius: 8px;
            }
            h3 {
                margin-top: 10px;
                margin-bottom: 5px;
            }
            a {
                display: block;
                background-color: white;
                text-decoration: none;
                color: #500d76;
                padding: 8px;
                margin: 20px;
                text-align: center;
                border: 1px solid white;
                border-radius: 20px;
                &:hover {
                    background-color: #500d76;
                    color: white;
                }
            }
        }
    }
    .turno {
        display: flex;
        justify-content: center;
        a {
            border: 1px solid black;
            background-color: white;
            text-decoration: none;
            color: #500d76;
            padding: 8px;
            margin: 20px;
            text-align: center;
            border-radius: 20px;
        &:hover {
            background-color: #500d76;
            color: white;
        }
        }
    }
}
.work {
    text-align: center;
    margin: 10px;
    padding: 7px;
    h2 {
        color: white;
        margin: 5px;
    }
    p {
        color: white;
        margin: 10px;
    }
    a {
        border: 1px solid black;
        background-color: white;
        text-decoration: none;
        color: #500d76;
        font-weight: 300;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
        &:hover {
            background-color: #500d76;
            color: white;
        }
    }
}
.contact {
    text-align: center;
    margin: 15px;
    padding: 5px;
    h2 {
        color: white;
        margin: 10px;
    }
    a {
        border: 1px solid black;
        background-color: white;
        text-decoration: none;
        color: #500d76;
        text-align: center;
        font-weight: 300;
        margin: 30px;
        padding: 7px;
        border-radius: 20px;
        &:hover {
            background-color: #500d76;
            color: white;
        }
    }
}