.medicos {
    h2 {
        color: white;
        text-align: center;
        text-decoration: underline;
        font-size : x-large
    }
    .grid-medicos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .especialidad-profesionales {
            border: 2px solid white;
            color: white;
            text-align: center;
            padding: 10px;
            margin: 10px;
            width: 300px;           
            img {
                width: 80%;
                height: 70%;
            }
            h3 {
                margin-bottom: 10px;
                font-size: large;
            }
            a {
                text-decoration: none;
                color: #500d76;
                background-color: white;
                border: 1px solid white;
                padding: 7px;
                border-radius: 20px;
                &:hover {
                    @include color-botones
                }
            }
        }
    }
}