.mision {
    h1 {
        text-align: center;
        color: white;
        margin-top: 15px;
    }
    p {
        text-align: center;
        color: white;
        margin: 10px;
    }
}
.vision {
    h2 {
        text-align: center;
        color: white;
        margin: 10px;
    }
    p {
        text-align: center;
        color: white;
        margin: 10px;
    }
}
.valor {
    h2 {
        text-align: center;
        color: white;
        margin: 10px;
    }
    div {
        h3 {
            text-align: center;
            color: white;
            margin: 10px;
            text-decoration: underline;
        }
        p {
            text-align: center;
            color: white;
            margin: 10px;
        }
    }
}
.nosotros {
    h2 {
        text-align: center;
        color: white;
        margin: 10px;
    }
    p {
        text-align: center;
        color: white;
        margin: 10px;
    }
}