@media screen and (max-width: 1037px) {
    .product {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(75px, auto);
        align-items: center;
        justify-content: center;
    }
}
}
@media screen and (max-width: 450px) {
    footer {
        img {
            height: 20px;
            width: 20px;
        }
        p {
            font-size: medium;
        }
    }
}
@media screen and (max-width: 380px) {
    footer {
        img {
            height: 15px;
            width: 15px;
        }
        p {
            font-size: small;
        }
    }
}